.home {
    display: flex;
    padding-top: 30px;
    justify-content: space-between;
}

.home-search-image {
    width: 500px;
    margin-left: 270px;
}

.connect-wallet-image {
    width: 350px;
    margin-right: 70px;
}