.modal-field {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}

label {
    font-size: large;
    margin-bottom: 5px;
}

.modal-field-quantity {
    display: flex;
    flex-direction: column;
    margin-top: 4px;
}

.modal-field-price-quantity {
    display: flex;
}

.modal-quantity-available {
    padding: 19px 0 0 7px;
    margin-bottom: 0px;
}

.input-delivery-address {
    height: 25px;
    border-radius: 5px;
    border: solid lightgray 2px;
}

.modal-encrypted-delivery-address-wrapper {
    height: 25px;
    border-radius: 5px;
    border: solid lightgray 2px;
    text-indent: 3px;
    display: flex;
    align-items: center;
    margin: 4px 0 10px 0;
    background-color: rgb(228, 225, 225);
}

.modal-encrypted-delivery-address {
    font-size: 13px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}