.modal-background {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 1200px;
}

.modal {
    background-color: #fefefe;
    border: 3px solid darkgray;
    width: 80%;
    max-width: 700px;
    border-radius: 5px;
    padding: 10px;
    text-align: left;
    padding: 20px;
}

.modal-exit {
    display: flex;
    justify-content: right;
}

.modal-exit-btn {
    border-radius: 4px;
    border: black solid 2px;
    padding: 2px 20px;
    font-size: large;
    background-color: rgb(255, 144, 124);
}

.modal-exit-btn:hover {
    cursor: pointer;
    background-color: red;
}

.modal-price-wrapper {
    display: flex;
    align-items: center;
    padding: 0;
    height: 20px;
    margin-bottom: 20px;
}

.modal-solana-logo-blue {
    height: 23px;
    margin: 0 5px;
}

.modal-btn {
    display: block;
    margin: auto;
    height: 40px;
    width: 300px;
    font-size: large;
    border: black solid 2px;
    border-radius: 4px;
    background-color: rgb(148, 214, 49);
}

.modal-btn:disabled {
    background-color: darkgrey;
    opacity: 0.5;
}

.modal-btn:hover:enabled {
    cursor: pointer;
    background-color: rgb(0, 221, 0);
}

.modal-field {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}

label {
    font-size: large;
    margin-bottom: 5px;
}

.input-private-key {
    height: 25px;
    border-radius: 5px;
    border: solid lightgray 2px;
}

.error {
    color: red;
    text-align: center;
}