.footer {
    margin-top: auto;
    height: 50px;
    background-color: #ecebeb;
    border-top: #dbd6e8 solid 1px;
    display: flex;
    align-items: center;
    justify-content: center;
}

p {
    margin: 0 20px;
}

p:hover {
    cursor: pointer;
    text-decoration: underline;
}