.my-article {
    border: black solid 1px;
    border-radius: 5px;
    height: 200px;
    width: 800px;
    margin-bottom: 30px;
    display: flex;
}

.my-article-image-wrapper {
    border-right: black solid 1px;
    border-radius: 5px;
    background-color: rgb(229, 229, 229);
    min-height: 200px;
    max-height: 200px;
    min-width: 200px;
    max-width: 200px;
    margin-right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.my-article-image-wrapper:hover {
    cursor: pointer;
}

.my-article-image {
    object-fit: fill;
    overflow: hidden;
    max-height: 200px;
    max-width: 200px;
}

.my-article-info {
    width: 100%;
    height: 100%;
}

.my-article-header {
    height: 70px;
    display: flex;
    justify-content: space-between;
}

.my-article-title {
    margin-top: 5px;
    margin-bottom: 0px;
    font-size: larger;
}

.my-article-subtitle {
    margin-top: 1px;
    font-size: 11px;
}

.my-article-remove {
    margin: 5px;
}

.my-article-remove-btn {
    border-radius: 4px;
    border: black solid 2px;
    font-size: large;
    background-color: rgb(255, 144, 124);
    height: 32px;
    width: 100px;
}

.my-article-remove-btn:hover {
    cursor: pointer;
    background-color: red;
}

.my-article-price-stars {
    display: flex;
    align-items: center;
}

.my-article-price-wrapper {
    height: 40px;
    display: flex;
    align-items: center;
    max-width: 200px;
    min-width: 200px;
}

.my-article-price {
    font-size: 35px;
}

.my-article-solana-logo-blue {
    height: 30px;
    margin: 0 5px;
}

.my-article-quantity {
    margin-top: 3px;
}

.my-article-bottom {
    display: flex;
    justify-content: space-between;
}

.my-article-description {
    margin-top: 0;
    max-width: 450px;
    max-height: 43px;
    font-size: 13px;
    overflow: hidden;
}

.my-article-update-btn {
    margin-top: 12px;
    margin-right: 5px;
    border-radius: 4px;
    border: black solid 2px;
    font-size: large;
    background-color: rgba(143, 190, 251, 0.583);
    height: 32px;
    width: 100px;
}

.my-article-update-btn:hover {
    cursor: pointer;
    background-color: rgb(107, 166, 255);
}