.article-review {
    margin: 5px;
}

.article-review-btn {
    border-radius: 4px;
    border: black solid 2px;
    font-size: large;
    background-color: rgb(148, 214, 49);
    height: 32px;
    width: 130px;
}

.article-review-btn:hover {
    cursor: pointer;
    background-color: rgb(0, 221, 0);
}