.navbar {
    background-color: #ecebeb;
    border-bottom: #dbd6e8 solid 1px;
    height: 80px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    min-width: 1150px;
}

.unidouble-logo {
    height: 25px;
}

.unidouble-logo:hover {
    cursor: pointer;
}

.select {
    width: 170px;
    margin-left: 20px;
    font-size: medium;
}

.select-category {
    margin-right: auto;
}

.navbar-btn:disabled {
    background-color: darkgrey;
}

.navbar-btn {
    width: 170px;
    height: 39px;
    margin-right: 20px;
    border-radius: 5px;
    border: lightgrey solid 1px;
    font-size: medium;
    background-color: white;
}

.navbar-btn-my-seller-account {
    margin-left: auto;
}

.navbar-btn:hover:enabled {
    cursor: pointer;
    background-color: black;
    color: white;
}