.navbar {
    background-color: #ecebeb;
    border-bottom: #dbd6e8 solid 1px;
    min-height: 80px;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.unidouble-logo {
    height: 25px;
}

.unidouble-logo:hover {
    cursor: pointer;
}

.select {
    width: 150px;
    margin-left: 20px;
    font-size: 13px;
}

.navbar-search-btn {
    margin-left: 20px;
    margin-right: auto;
    height: 36px;
    width: 36px;
    border: rgb(160, 160, 160) solid 1px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.navbar-search-btn:disabled {
    background-color: darkgray;
}

.navbar-search-btn:hover:enabled {
    cursor: pointer;
    background-color: darkgray;
}

.navbar-search-logo {
    height: 20px;
}

.navbar-btn:disabled {
    background-color: darkgrey;
}

.navbar-btn {
    width: 150px;
    height: 39px;
    margin-right: 20px;
    border-radius: 5px;
    border: lightgrey solid 1px;
    font-size: 13px;
    background-color: white;
}

.navbar-btn:hover:enabled {
    cursor: pointer;
    background-color: black;
    color: white;
}

.navbar-btn-my-seller-account {
    margin-left: auto;
}